@font-face {
  font-family: "Cascadia Code";
  font-style: normal;
  font-weight: normal;
  src: local("Cascadia Code"), url("fonts/CascadiaCode.ttf"),
    url("fonts/CascadiaCode.woff"), url("fonts/CascadiaCode.woff2");
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: normal;
  src: local("Fira Code"), url("fonts/FiraCode-Regular.ttf"),
    url("FiraCode-Regular.woff"), url("FiraCode-Regular.woff2");
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/firacode/5.2.0/fira_code.css");
@import url("http://fonts.cdnfonts.com/css/cascadia-code");
body,
svg {
  background: #222;
  overflow: overlay;
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  fill: #eee;
  font-family: "Cascadia Code";
  font-size: 14px;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

h1 {
  font-family: "Cascadia Code";
  font-weight: 400;
  margin-top: 60px;
  color: #eee;
}

h2 {
  font-family: "Cascadia Code";
  font-weight: 400;
  color: #ccc;
}

.btn {
  margin-left: 60px;
  margin-top: 20px;
  font-family: "Cascadia Code";
  font-weight: 600;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

/* Green */
.success {
  color: lightsteelblue;
  border: 2px solid lightsteelblue;
  border-radius: 20px;
}

.success:hover {
  background-color: lightsteelblue;
  color: #222;
}

html {
  --scrollbarBG: #222;
  --thumbBG: lightsteelblue;
}

::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

::-webkit-scrollbar-corner {
  background: var(--scrollbarBG);
}

::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
